.topbar {
height:auto;
}
#logo {
float:left;
}
.topbar ul {
margin: 60px 0 0 80px;
}
.topbar ul li {
font-size: 30px;
margin-right:10px;
}
.hero-unit {
margin-top: 144px;
}
.hero-unit h1 {
font-size: 40px;
}
.hero-unit .preview {
float:left;
margin-right:30px;
}
