<form role="form">
  <div class="form-group">
    <h2>Project Newsletter</h2>
    <div class="well">
      <p>Subscribe to our weekly Newsletter.</p>
      <label for="email" class="sr-only">Email address</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="input-group">
        <button type="submit" class="voffset btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</form>