body {
position: relative;
padding-top: 50px;
}

cite {
font-style:italic;
}

.voffset {margin:.5em 0;}
.centered {text-align:center;}
.clearfix {clear:both;}

.caret {
opacity:.8;
}
.small {
font-size:.8em;
}

.navbar-collapse.collapse {
padding-right:0;
}
.navbar ul.share a {
width:90%;
margin:2% 5% 5%;
font-size:1.1em;
}