{% set version = '?v=1' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="">

    <title>{{ title }}</title>

    {% if image %}
      <meta property="og:image" content="{{ base_url }}{{ image }}">
    {% endif %}

    <link rel="shortcut icon" href="/img/logya.png">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/rss.xml">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css{{ version }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body_styles %}
        {% for style in styles %}
            <link href="{{ script }}{{ version }}" rel="stylesheet">
        {% endfor %}
    {% endblock %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
          {% include 'sharemenu.html' %}
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="container">
      <hr>
      <footer>
        <p>&copy; Project 2013</p>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/js/script.js{{ version }}"></script>

    {% block body_scripts %}
        {% for script in scripts %}
            <script src="{{ script }}{{ version }}"></script>
        {% endfor %}
    {% endblock %}
  </body>
</html>