<!DOCTYPE html>
<html lang="en">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title itemprop="name">{% block title %}{{ title }}{% endblock%}</title>
        {% if description %}<meta name="description" content="{{ description }}">{% endif %}
        {% if author %}<meta name="author" content="{{ author }}">{% endif %}
        {% if image %}<meta property="og:image" content="{{ base_url }}{{ image }}">{% endif %}
        {% block meta %}{% endblock %}

        <link href="{{ canonical }}" rel="canonical" itemprop="url">
        <link href="/img/logya-16.png" rel="icon">
        <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="RSS feed">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        {% block styles %}
            {% for style in styles %}
                <link href="{{ style }}" rel="stylesheet">
            {% endfor %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ brand }}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                    {% include 'sharemenu.html' %}
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="container">
            <hr>
            <footer><p>© <script>document.write(new Date().getFullYear())</script> {{ brand }}</p></footer>
        </div>

        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block body_scripts %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>