{% import 'macros/links.html' as links %}

{% if author %}
    <p>Written by {{ author }}.</p>
{% endif %}
<p>
    <i class="fa fa-calendar"></i> <time itemprop="datePublished" datetime="{{ created.strftime('%Y-%m-%dT%H:%M') }}">{{ created.strftime('%B %d, %Y') }}</time>
    {% if updated and updated.strftime('%Y%m%d') != created.strftime('%Y%m%d') %}
        (updated: <time itemprop="dateModified" datetime="{{ updated.strftime('%Y-%m-%dT%H:%M') }}">{{ updated.strftime('%B %d, %Y') }}</time>)
    {% endif %}
</p>
{% if tags %}
    <p><i class="fa fa-tag"></i> Tags: {{ links.collection(tags_links) }}</p>
{% endif %}