<ul class="nav navbar-nav pull-right">
<li id="sharemenu" class="dropdown">
    <button type="button" class="dropdown-toggle btn btn-primary navbar-btn" data-toggle="dropdown"><i class="fa fa-share"></i></button>
    <ul class="share dropdown-menu pull-right">
        <li><a href="/rss.xml"><i class="fa fa-rss"></i> RSS Feed</a></li>
        <li><a rel="nofollow" href="https://twitter.com/share?url={{canonical|urlencode}}&text={{title|urlencode}}"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a rel="nofollow" href="http://www.facebook.com/sharer.php?u={{canonical|urlencode}}&t={{title|urlencode}}"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a rel="nofollow" href="https://plus.google.com/share?url={{canonical|urlencode}}"><i class="fa fa-google-plus"></i> Google+</a></li>
        <li><a rel="nofollow" href="http://www.linkedin.com/shareArticle?mini=true&url={{canonical|urlencode}}&title={{title|urlencode}}"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        <li><a rel="nofollow" href="http://reddit.com/submit?url={{canonical|urlencode}}&title={{title|urlencode}}"><i class="fa fa-reddit"></i> Reddit</a></li>
        <li><a rel="nofollow" href="http://www.stumbleupon.com/submit?url={{canonical|urlencode}}&title={{title|urlencode}}"><i class="fa fa-stumbleupon"></i> Stumble</a></li>
    </ul>
</li>
</ul>