{% macro url_thumb(video) -%}
{% if video.id %}https://i.ytimg.com/vi/{{ video.id }}/default.jpg{% else %}{{ video.thumbnail_url }}{% endif %}
{%- endmacro %}

{% macro url_preview(video) -%}
{% if video.id %}https://i.ytimg.com/vi/{{ video.id }}/mqdefault.jpg{% else %}{{ video.thumbnail_url }}{% endif %}
{%- endmacro %}

{% macro player(video) -%}
<div class="embed-responsive embed-responsive-16by9">
    {% if 'youtube' == video.provider %}
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ video.id }}?wmode=transparent" allowfullscreen></iframe>
    {% elif 'vimeo' == video.provider %}
        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/{{ video.id }}" allowfullscreen></iframe>
    {% elif 'dailymotion' == video.provider %}
        <iframe class="embed-responsive-item" src="http://www.dailymotion.com/embed/video/{{ video.id }}" allowfullscreen></iframe>
    {% else %}
        <p class="text-danger">Video Unavailable</p>
    {% endif %}
</div>
{%- endmacro %}